form {
  display: block;
  margin: 3rem auto;
}

.form-row {
  font-size: 1.5em;
  width: 55rem;
  margin: 1rem auto;
}

.form-row strong {
  font-weight: 700;
  width: 13rem;
  display: inline-block;
}
.form-row label {
  border-left: 1px solid black;
  padding-left: 0.5em;
}

.form-row label:first-child {
  padding-left: 0;
  border: none;
}

form.show-errors .error-message {
  display: block;
}

.error-message {
  display: none;
  text-align: center;
  font-size: 1.6em;
  background: pink;
  border: 1px solid red;
  padding: 0.5em 3em;
  border-radius: 10px;
  margin: auto;
  width: 50%;
  color: red;
}
